:root {
    --bs-primary-rgb: 18, 78, 80;
    /*turquoise*/
    --bs-secondary-rgb: 12, 40, 77;
    /*bleu foncé*/
    --bs-success-rgb: 75, 45, 74;
    /*mauve*/
}

@font-face {
    src: url("../assets/fonts/Avatar_Water.ttf") format("truetype");
    font-family: "Water";
}

@font-face {
    src: url("../assets/fonts/Aubrey-Regular.ttf") format("truetype");
    font-family: "Aubrey";
}

@font-face {
    src: url("../assets/fonts/CaesarDressing-Regular.ttf") format("truetype");
    font-family: "Caesar";
}

.section-title {
    font-family: "Water";
}

.section-text {
    font-family: "Aubrey";
}

.section-text-plus {
    font-family: "Caesar";
}