:root {
    --bs-primary-rgb: 18, 78, 80;
    /*turquoise*/
    --bs-secondary-rgb: 12, 40, 77;
    /*bleu foncé*/
    --bs-success-rgb: 75, 45, 74;
    /*mauve*/
}


@font-face {
    font-family: "avatarFont";
    src: url("./assets/fonts/Avatar_Water.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}