:root {
    --bs-primary-rgb: 150, 47, 148;
    /*mauve*/
}


@font-face {
    font-family: "avatarFont";
    src: url("./assets/fonts/Avatar_Water.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}